# Builds
Escola/**/[Dd]ebug/
Escola/**/[Dd]ebugPublic/
Escola/**/[Rr]elease/
Escola/**/[Rr]eleases/
Escola/**/x64/
Escola/**/x86/
Escola/**/[Aa][Rr][Mm]/
Escola/**/[Aa][Rr][Mm]64/
Escola/**/bld/
Escola/**/[Bb]in/
Escola/**/[Oo]bj/
Escola/**/[Ll]og/
Escola/**/[Ll]ogs/

# Visual Studio cache
Escola/.vs/